{% extends "BrixITbrixmondBundle:Default:base.html.twig" %}
{% import "BrixITbrixmondBundle:Default:macros.html.twig" as macros %}

{% block headerbar %}&raquo; {{ 'charts.title' | trans }} &raquo; </span>{{ fqdn }}<span class="hidden-xs"> ({{ ('timedomain.' ~ timedomain) | trans }})</span>{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/chart.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12" id="buttonrow">
            <a href="{{ path('home') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'backtodashboard' | trans }}
            </a>

            <div class="btn-group" role="group">
                <a href="{{ path('server_charts', {'timedomain': '15min', 'fqdn': fqdn}) }}"
                   class="btn btn-{% if timedomain=='15min' %}primary{% else %}default{% endif %}">
                    {{ 'timedomain.15min' | trans }}
                </a>
                <a href="{{ path('server_charts', {'timedomain': 'hour', 'fqdn': fqdn}) }}"
                   class="btn btn-{% if timedomain=='hour' %}primary{% else %}default{% endif %}">
                    {{ 'timedomain.hour' | trans }}
                </a>
                <a href="{{ path('server_charts', {'timedomain': 'halfday', 'fqdn': fqdn}) }}"
                   class="btn btn-{% if timedomain=='halfday' %}primary{% else %}default{% endif %}">
                    {{ 'timedomain.halfday' | trans }}
                </a>
                <a href="{{ path('server_charts', {'timedomain': 'day', 'fqdn': fqdn}) }}"
                   class="btn btn-{% if timedomain=='day' %}primary{% else %}default{% endif %}">
                    {{ 'timedomain.day' | trans }}
                </a>
            </div>

            <a href="{{ path('server_message_list', {'fqdn': fqdn}) }}" class="btn btn-default">
                {{ 'charts.buttons.messages' | trans }}
                <span class="badge">{{ messagecount }}</span>
            </a>
            <a href="{{ path('server_audits', {'fqdn': fqdn}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span>
                {{ 'charts.buttons.audits' | trans }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'charts.titles.serverinfo' | trans }}</div>
                <table class="table table-striped">
                    <tr>
                        <th>{{ 'charts.headings.serverinfo.fqdn' | trans }}</th>
                        <td>{{ fqdn }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'charts.headings.serverinfo.cpu' | trans }}</th>
                        <td>{{ client.cores }}x {{ client.cpu }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'charts.headings.serverinfo.arch' | trans }}</th>
                        <td>{{ client.arch }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'charts.headings.serverinfo.distro' | trans }}</th>
                        <td>{{ client.dist }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.systemload' | trans }}
                </div>
                <div class="panel-graph" id="graph-system-load">
                    <script>
                        generateLineChart('#graph-system-load', 'system-load', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20, false);
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.cpuusage' | trans }}
                </div>
                <div class="panel-graph" id="graph-cpu">
                    <script>
                        generateLineChart('#graph-cpu', 'cpu-usage', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10, false);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.top5processes' | trans }}
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'charts.headings.top5processes.process' | trans }}</th>
                        <th>{{ 'charts.headings.top5processes.cpu' | trans }}</th>
                        <th>{{ 'charts.headings.top5processes.mem' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if info.processes is defined %}
                        {% for process in info.processes.value %}
                            <tr>
                                <td title="{{ process.name }}" class="ellipsis">
                                    <div class="ellipsis">{{ process.name }}</div>
                                </td>
                                <td width="100">{{ process.cpu | number_format(2, '.') }}%</td>
                                <td width="100">{{ process.mem | number_format(2, '.') }}%</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">
                                No data yet.
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.physicalmemory' | trans }}
                </div>
                <div class="panel-graph" id="graph-memory">
                    <script>
                        generateAreaChart('#graph-memory', 'memory', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20c);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.swap' | trans }}
                </div>
                <div class="panel-graph" id="graph-swap">
                    <script>
                        generateAreaChart('#graph-swap', 'swap', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20);
                    </script>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.networkpackets' | trans }}
                </div>
                <div class="panel-graph" id="graph-net-packets">
                    <script>
                        generateLineChart('#graph-net-packets', 'network-packets', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.networkbytes' | trans }}
                </div>
                <div class="panel-graph" id="graph-net-bytes">
                    <script>
                        generateLineChart('#graph-net-bytes', 'network-bytes', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.networkerrors' | trans }}
                </div>
                <div class="panel-graph" id="graph-net-errors">
                    <script>
                        generateLineChart('#graph-net-errors', 'network-errors', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.networksockets' | trans }}
                </div>
                <div class="panel-graph" id="graph-sockets">
                    <script>
                        generateLineChart('#graph-sockets', 'sockets', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20);
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'charts.titles.diskusage' | trans }}
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'charts.headings.diskusage.device' | trans }}</th>
                        <th>{{ 'charts.headings.diskusage.mountpoint' | trans }}</th>
                        <th>{{ 'charts.headings.diskusage.type' | trans }}</th>
                        <th>{{ 'charts.headings.diskusage.size' | trans }}</th>
                        <th>{{ 'charts.headings.diskusage.used' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if info.disks is defined %}
                        {% for disk in info.disks.value %}
                            <tr>
                                <td>{{ disk.device }}</td>
                                <td>{{ disk.mountpoint }}</td>
                                <td>{{ disk.fstype }}</td>
                                <td>{{ macros.bytesToSize(disk.usage.total) }}</td>
                                <td>{{ macros.bytesToSize(disk.usage.used) }} ({{ disk.usage.percent }}%)</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}