{% extends "BrixITbrixmondBundle:Default:base.html.twig" %}

{% block headerbar %}&raquo; Graphs &raquo; </span>{{ fqdn }}<span class="hidden-xs"> ({{ timedomainLabel }})</span>{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/chart.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12" id="buttonrow">
            <a href="/" class="btn btn-default">&laquo; Back to dashboard</a>

            <div class="btn-group" role="group">
                <a href="/graphs/{{ fqdn }}/5min"
                   class="btn btn-{% if timedomain=='5min' %}primary{% else %}default{% endif %}">5 Min.</a>
                <a href="/graphs/{{ fqdn }}/hour"
                   class="btn btn-{% if timedomain=='hour' %}primary{% else %}default{% endif %}">1 Hour</a>
                <a href="/graphs/{{ fqdn }}/halfday"
                   class="btn btn-{% if timedomain=='halfday' %}primary{% else %}default{% endif %}">12 Hours</a>
                <a href="/graphs/{{ fqdn }}/day"
                   class="btn btn-{% if timedomain=='day' %}primary{% else %}default{% endif %}">1 Day</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">Server info</div>
                <table class="table table-striped">
                    <tr>
                        <th>FQDN</th>
                        <td>{{ fqdn }}</td>
                    </tr>
                    <tr>
                        <th>CPU</th>
                        <td>{{ client.cpu }}</td>
                    </tr>
                    <tr>
                        <th>Arch</th>
                        <td>{{ client.arch }}</td>
                    </tr>
                    <tr>
                        <th>Distro</th>
                        <td>{{ client.dist }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    System load
                </div>
                <div class="panel-graph" id="graph-system-load">
                    <script>
                        generateLineChart('#graph-system-load', 'system-load', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20, false);
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    CPU Usage
                </div>
                <div class="panel-graph" id="graph-cpu">
                    <script>
                        generateLineChart('#graph-cpu', 'cpu-usage', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10, false);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Top 5 processes
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Process</th>
                        <th>CPU</th>
                        <th>Mem</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>blender</td>
                        <td>33.4%</td>
                        <td>142 MB</td>
                    </tr>
                    <tr>
                        <td>blender</td>
                        <td>33.4%</td>
                        <td>142 MB</td>
                    </tr>
                    <tr>
                        <td>blender</td>
                        <td>33.4%</td>
                        <td>142 MB</td>
                    </tr>
                    <tr>
                        <td>blender</td>
                        <td>33.4%</td>
                        <td>142 MB</td>
                    </tr>
                    <tr>
                        <td>blender</td>
                        <td>33.4%</td>
                        <td>142 MB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Physical memory
                </div>
                <div class="panel-graph" id="graph-memory">
                    <script>
                        generateAreaChart('#graph-memory', 'memory', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20c);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Swap
                </div>
                <div class="panel-graph" id="graph-swap">
                    <script>
                        generateAreaChart('#graph-swap', 'swap', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20);
                    </script>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Network packets
                </div>
                <div class="panel-graph" id="graph-net-packets">
                    <script>
                        generateLineChart('#graph-net-packets', 'network-packets', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Network bytes
                </div>
                <div class="panel-graph" id="graph-net-bytes">
                    <script>
                        generateLineChart('#graph-net-bytes', 'network-bytes', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Network errors
                </div>
                <div class="panel-graph" id="graph-net-errors">
                    <script>
                        generateLineChart('#graph-net-errors', 'network-errors', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category10);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Network socket stats
                </div>
                <div class="panel-graph" id="graph-sockets">
                    <script>
                        generateLineChart('#graph-sockets', 'sockets', '{{ fqdn }}', '{{ timedomain }}', d3.scale.category20);
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}