{% extends "BrixITbrixmondBundle:Admin:base.html.twig" %}

{% block headerbar %}&raquo; </span>{{ 'admin.title.base' | trans }} &raquo; {{ 'admin.title.servers' | trans }}{% endblock %}

{% block scripts %}{% endblock %}

{% block admin %}
    <div class="panel-body">
        <h2>{{ 'admin.servers.new'|trans }}:</h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'admin.servers.headings.hostname' | trans }}</th>
            <th>{{ 'admin.servers.headings.secret' | trans }}</th>
        </tr>
        </thead>
    </table>
    <div class="panel-body">
        <h2>{{ 'admin.servers.active'|trans }}:</h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'admin.servers.headings.hostname' | trans }}</th>
            <th>{{ 'admin.servers.headings.distro' | trans }}</th>
            <th>{{ 'admin.servers.headings.messages' | trans }}</th>
        </tr>
        </thead>
    </table>
{% endblock %}